@*
*
* to do sample project
*
*@
@(
  vv: model.ViewValueCategoryList
)(implicit messagesProvider: MessagesProvider, requestHeader: RequestHeader)

@common.Default(vv){
  <ul>
    @for(category <- vv.categories) {
      @helper.form(action = controllers.category.routes.CategoryController.delete()) {
        @helper.CSRF.formField
        <input type="hidden" value="@category.id", name="id">
        <li style='background-color: #@category.v.color.getRGB.toHexString.padTo(6, "0");'>
          @category.v.name (@category.v.slug)
          <input type="submit" value="削除">
        </li>
      }
    }
  </ul>
}