@*
*
* to do sample project
*
*@
@import controllers.todo.TodoEditFormData
@(
  vv        : model.ViewValueTodoEdit,
  id        : Long,
  form      : Form[TodoEditFormData],
  categories: Seq[Tuple2[String, String]],
  status    : Seq[Tuple2[String, String]],
)(implicit messagesProvider: MessagesProvider, requestHeader: RequestHeader)

@common.Default(vv){
  @helper.form(action = controllers.todo.routes.TodoController.update(id)) {
    @helper.CSRF.formField
    @helper.select(
      form("categoryId"),
      categories,
      '_label -> "カテゴリーID"
    )
    @helper.inputText(
      form("title"),
      '_label -> "タイトル"
    )
    @helper.textarea(
      form("body"),
      'cols -> 20,
      'rows -> 7,
      '_label -> "本文"
    )
    @helper.select(
      form("state"),
      status,
      '_label -> "状態"
    )
    <input type="submit" value="更新">
  }
}