@*
 *
 * to do sample project
 *
 *@
@(
  vv: model.ViewValueTodo
)(implicit messagesProvider: MessagesProvider, requestHeader: RequestHeader)

@common.Default(vv){
  <ul>
    @for(todo_category_tuple <- vv.todoCategorySeq) {
      @todo_category_tuple match {
        case (todo, category) => {
          @helper.form(action = controllers.todo.routes.TodoController.delete()) {
            @helper.CSRF.formField
            <input type="hidden" value="@todo.id", name="id">
            <li style="background-color: #@category.v.color.getRGB.toHexString;">
              [@todo.v.state.name] [@category.v.name] @todo.v.title @todo.v.body
              <a href="@controllers.todo.routes.TodoController.edit(todo.id)"><button type="button">編集</button></a>
              <input type="submit" value="削除">
            </li>
          }
        }
      }
    }
  </ul>
}
